@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar_x_custom {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Scrollbar horizontal */
.scrollbar_x_custom::-webkit-scrollbar {
  height: 4px;
  /* ketebalan horizontal scrollbar */
  background-color: #ececec;
}

.scrollbar_x_custom::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
}

/* Scrollbar vertikal */
.scrollbar_y_custom {
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar_y_custom::-webkit-scrollbar {
  width: 4px;
  /* ketebalan vertikal scrollbar */
  background-color: #b5b5b5;
}

.scrollbar_y_custom::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 10px;
}